{% extends 'base.html.twig' %}

{% block title %}Nouvelle couette{ of {{ owner.familyname }} {% endblock %}

{% block main %}
    <h1>Créer un nouveau couette et café/h1>
        {{ include('room/_form.html.twig') }}

    <a href="{{ path('owner_show', {id: owner.id}) }}">retour à la liste des propriétaires</a>
{% endblock %}