{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block main %}
    <h1>Edit Room</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <br>
    <a href="{{ path('room_index') }}">retour à la liste des couettes et cafés</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
