{% extends 'base.html.twig' %}

{% block title %}Hummmm{% endblock %}

{% block main %}
    <h1>On est censé jamais arrivé la dessus</h1>

    {{ include('room/_form.html.twig') }}

    <a href="{{ path('room_index') }}">back to list</a>
{% endblock %}
