{% extends 'base.html.twig' %}

{% block title %}Nouveau Propriétaire{% endblock %}

{% block main %}
    <h1>Créer un nouveau propriétaire</h1>

    {{ include('owner/_form.html.twig') }}

    <a href="{{ path('owner_index') }}">retour à la liste des propriétaires</a>
{% endblock %}
